<div class="row">
  <div class="col-sm-6">
    <app-carrusel></app-carrusel>
  </div>
  <div class="col-sm-6">
    <app-sistema-operativo></app-sistema-operativo>
  </div>
  <div class="col-sm-3">1</div>
  <div class="col-sm-3">2</div>
  <div class="col-sm-3">3</div>
  <div class="col-sm-3">4</div>
  <div class="col-sm-3">1</div>
  <div class="col-sm-3">2</div>
  <div class="col-sm-3">3</div>
  <div class="col-sm-3">4</div>

  <div class="col-sm-6">
    <app-detalle></app-detalle>
  </div>
  <div class="col-sm-6">
    <app-card></app-card>
  </div>
  <div class="col-sm-12">
    <app-tabla></app-tabla>
  </div>
</div>

