<div class="container">


  <div class="row">
    <div class="col-sm-6">
      <app-carrusel
      [arregloSO]="arregloSistemasOperativos"
      ></app-carrusel>
    </div>
    <div class="col-sm-6">
      <app-sistema-operativo [arreglo]="arregloSistemasOperativos" ></app-sistema-operativo>
    </div>
    <div class="col-sm-3 text-center"
         *ngFor="let sistema of arregloSistemasOperativos; let indice = index">
      <div class="jumbotron" (click)="mostrarCard(indice)">

        <p>SO: {{sistema.nombreSO}}</p>
        <hr class="my-4">
        <p>Versión Api: {{sistema.versionApiSO}}</p>


      </div>

    </div>


  </div>



  <div class="row">
    <div class="col-sm-6" >
      <app-detalle [arregloApp]="arregloSistemasOperativos[sistemaID].detalles">
        <!--[arregloApp]="arregloSistemasOperativos[sistemaID].detalles">-->
        <!--[Aplicacion]="sistemaID+1"-->


      </app-detalle>
    </div>
    <div class="col-sm-6" >
      <app-card
        [sistemaOperativo]="arregloSistemasOperativos[sistemaID]"

      >
      </app-card>
    </div>
    <div class="col-sm-12">
      <app-tabla
        [aplicaciones]="arregloSistemasOperativos[sistemaID].detalles"

      >

      </app-tabla>
    </div>
  </div>

</div>
