
<app-corouseldemo></app-corouseldemo>



<!--<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">-->
  <!--<ngb-panel title="Simple">-->
    <!--<ng-template ngbPanelContent>-->
      <!--<button pButton type="button" label="Click"-->
              <!--class="ui-button-success"-->
      <!--&gt;</button>-->
      <!--<p-button label="Click" ></p-button>-->
      <!--<button mat-button color ="accent">Click me!</button>-->

      <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia-->
      <!--aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,-->
      <!--sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,-->
      <!--craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings-->
      <!--occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus-->
      <!--labore sustainable VHS.-->
    <!--</ng-template>-->
  <!--</ngb-panel>-->
  <!--<ngb-panel>-->
    <!--<ng-template ngbPanelTitle>-->
      <!--<span>&#9733; <b>Fancy</b> title &#9733;</span>-->
    <!--</ng-template>-->
    <!--<ng-template ngbPanelContent>-->
      <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia-->
      <!--aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,-->
      <!--sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,-->
      <!--craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings-->
      <!--occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus-->
      <!--labore sustainable VHS.-->
    <!--</ng-template>-->
  <!--</ngb-panel>-->
  <!--<ngb-panel title="Disabled" [disabled]="true">-->
    <!--<ng-template ngbPanelContent>-->
      <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia-->
      <!--aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,-->
      <!--sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,-->
      <!--craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings-->
      <!--occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus-->
      <!--labore sustainable VHS.-->
    <!--</ng-template>-->
  <!--</ngb-panel>-->
<!--</ngb-accordion>-->





























<!--&lt;!&ndash;<app-pelicula-banner></app-pelicula-banner>&ndash;&gt;-->

<!--&lt;!&ndash;<app-boton></app-boton>&ndash;&gt;-->


<!--&lt;!&ndash;<app-grilla></app-grilla>&ndash;&gt;-->

<!--<div class="row sa-fondo sa-letras-buscador-pelicula">-->
  <!--&lt;!&ndash;<div class="col-sm-6">Aquí no va nada</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="col-sm-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-2">1</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-2">2</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-2">3</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-2">4</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-2">5</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-2">6</div>&ndash;&gt;-->

    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->

  <!--<div class="col-sm-6 text-left">-->
    <!--<img src="http://spoilerpodcast.podbean.com/mf/web/m8dkvj/SpoilerSquare1400x1400.jpg" alt="logo" width="100px" height="100px">-->

  <!--</div>-->
  <!--<div class="col-sm-6">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-2"-->
           <!--*ngFor="let item of arregloBuscador"-->

      <!--&gt;-->
        <!--{{item}}-->
      <!--</div>-->


    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-md-6 "-->
       <!--*ngFor="let pelicula of arregloPeliculas">-->

    <!--<app-pelicula-banner-->
      <!--[descripcionPelicula]="pelicula.descripcion"-->
      <!--[nombrePelicula]="pelicula.nombre"-->
      <!--[esEstreno]="pelicula.esEstreno"-->
      <!--[urlImagen]="pelicula.urlImagen"-->

    <!--&gt;-->

    <!--</app-pelicula-banner>-->

  <!--</div>-->

  <!--<div class="col-sm-3"-->
       <!--*ngFor="let peliculaEstreno of arregloPeliculasEstreno">-->
    <!--<app-pelicula-estreno-->

      <!--[nombrePelicula]="peliculaEstreno.nombre"-->
      <!--[esEstreno]="peliculaEstreno.esEstreno"-->
      <!--[urlImagen]="peliculaEstreno.urlImagen"-->

    <!--&gt;-->

    <!--</app-pelicula-estreno>-->
  <!--</div>-->
  <!--<div class="col-sm-12">Películas Agregadas</div>-->

  <!--&lt;!&ndash;<div class="col-sm-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-3">1</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-3">2</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-3">3</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-3">4</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->


  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="col-sm-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-3">5</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-3">6</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-3">7</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-3">8</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="col-sm-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-3">1</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-3">2</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-3">3</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-3">4</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->


  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="col-sm-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-3">5</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-3">6</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-3">7</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-3">8</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--</div>-->

<!--<div class="row">-->
  <!--<div class="col-sm-6">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-3"-->
           <!--*ngFor="let peliculaAgregada of peliculasAgregadas"-->

      <!--&gt;-->
        <!--<app-peliculas-agregadas-->


          <!--[urlImagen]="peliculaAgregada.urlImagen"-->
        <!--&gt;-->

        <!--</app-peliculas-agregadas>-->
      <!--</div>-->

    <!--</div>-->


  <!--</div>-->
  <!--<div class="col-sm-6">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-3"-->
           <!--*ngFor="let serieAgregada of seriesAgregadas"-->
      <!--&gt;-->
        <!--<app-peliculas-agregadas-->
          <!--[urlImagen]="serieAgregada.urlImagen"-->

        <!--&gt;-->

        <!--</app-peliculas-agregadas>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->













<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->

  <!--&lt;!&ndash;<div class="col-sm-6 text-center" *ngFor="let pelicula of&ndash;&gt;-->
  <!--&lt;!&ndash;arregloPeliculas; let indice= index">&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<img [src]="pelicula.urlImagen" [alt] = "pelicula.descripcion">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<h1>{{pelicula.nombre}} / {{pelicula.esEstreno}}</h1>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<p>{{pelicula.descripcion}}</p>&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;<app-pelicula-banner [descripcionPelicula]="pelicula.descripcion"&ndash;&gt;-->
                       <!--&lt;!&ndash;[nombrePelicula]="pelicula.nombre"&ndash;&gt;-->
                       <!--&lt;!&ndash;[esEstreno]="pelicula.esEstreno"&ndash;&gt;-->
                       <!--&lt;!&ndash;[urlImagen]="pelicula.urlImagen"&ndash;&gt;-->
                       <!--&lt;!&ndash;(dioClickEnEstado)="alertar($event)"&ndash;&gt;-->
  <!--&lt;!&ndash;&gt;&ndash;&gt;-->

  <!--&lt;!&ndash;</app-pelicula-banner>&ndash;&gt;-->
    <!--&lt;!&ndash;<button (click)="pelicula.esEstreno =!pelicula.esEstreno">Cambiar es estreno</button>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->


  <!--&lt;!&ndash;<div class="col-sm-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<h1 *ngIf="mostrarHola">Hola</h1>&ndash;&gt;-->
    <!--&lt;!&ndash;<button (click)="mostrarHola =!mostrarHola">Cambiar</button>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="col-sm-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<h1 *ngIf="!mostrarHola">Mundo</h1>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->

  <!--&lt;!&ndash;<div class="col-sm-3"></div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="col-sm-3"></div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="col-sm-3"></div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="col-sm-3"></div>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->























<!--&lt;!&ndash;<h2 [class]="clase" >Two way data binding</h2>&ndash;&gt;-->
<!--&lt;!&ndash;<ul>&ndash;&gt;-->
  <!--&lt;!&ndash;<li>Clase <-> template [(ngModel)]</li>&ndash;&gt;-->

<!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--&lt;!&ndash;<p>Clase: {{clase}}</p>&ndash;&gt;-->

<!--&lt;!&ndash;<input type = "text"&ndash;&gt;-->
       <!--&lt;!&ndash;id = "clase"&ndash;&gt;-->
       <!--&lt;!&ndash;name ="clase"&ndash;&gt;-->
       <!--&lt;!&ndash;[(ngModel)]="clase">&ndash;&gt;-->

<!--&lt;!&ndash;<h2>One way data binding</h2>&ndash;&gt;-->

<!--&lt;!&ndash;<ul>&ndash;&gt;-->
  <!--&lt;!&ndash;<li>Clase al template -> [class]</li>&ndash;&gt;-->
  <!--&lt;!&ndash;<li>Template a la clase -> (click)</li>&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->


<!--&lt;!&ndash;<div [hidden]="false">&ndash;&gt;-->

  <!--&lt;!&ndash;<h1 [class]="nombreClase">Hola amigos de youtube</h1>&ndash;&gt;-->


  <!--&lt;!&ndash;<input type="text" #textoInput>&ndash;&gt;-->
  <!--&lt;!&ndash;<div>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>Nombre: {{nombre}}</p>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>Apellido: {{apellido}}</p>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>Edad: {{edad}}</p>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>Sueldo: {{sueldo | currency}}</p>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>Fecha de Nacimiento: {{fechaNacimiento | date: 'yyyy/MM/dd'}}</p>&ndash;&gt;-->

    <!--&lt;!&ndash;<button (click)="cambiarClaseDeTitulo()"&ndash;&gt;-->
            <!--&lt;!&ndash;(blur)="cambiarClaseDeTitulo()" )  >{{nombreBoton}}</button>&ndash;&gt;-->

  <!--&lt;!&ndash;</div>&ndash;&gt;-->

  <!--&lt;!&ndash;<button (click)="aplicarClase(textoInput.value)">&ndash;&gt;-->
    <!--&lt;!&ndash;{{cambiarBoton}}&ndash;&gt;-->

  <!--&lt;!&ndash;</button>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
