<!--<app-pelicula-banner></app-pelicula-banner>

<app-boton></app-boton>
-->

<!--<app-grilla></app-grilla>-->

<div class="row">
  <div class="col-sm-6">aqui no va nada</div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-2">1</div>
      <div class="col-sm-2">2</div>
      <div class="col-sm-2">3</div>
      <div class="col-sm-2">4</div>
      <div class="col-sm-2">5</div>
      <div class="col-sm-2">6</div>

    </div>
  </div>

  <div class="col-sm-6">aqui no va nada</div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-2">1</div>
      <div class="col-sm-2">2</div>
      <div class="col-sm-2">3</div>
      <div class="col-sm-2">4</div>
      <div class="col-sm-2">5</div>
      <div class="col-sm-2">6</div>

    </div>
  </div>
  <div class="col-sm-6">Imagenes de proximamente</div>
  <div class="col-sm-6">Imagenes de proximamente</div>
</div>
























<!--<h2 [class]="clase" >Two way data binding</h2>-->
<!--<ul>-->
  <!--<li>Clase <-> template [(ngModel)]</li>-->

<!--</ul>-->
<!--<p>Clase: {{clase}}</p>-->

<!--<input type = "text"-->
       <!--id = "clase"-->
       <!--name ="clase"-->
       <!--[(ngModel)]="clase">-->

<!--<h2>One way data binding</h2>-->

<!--<ul>-->
  <!--<li>Clase al template -> [class]</li>-->
  <!--<li>Template a la clase -> (click)</li>-->
<!--</ul>-->


<!--<div [hidden]="false">-->

  <!--<h1 [class]="nombreClase">Hola amigos de youtube</h1>-->


  <!--<input type="text" #textoInput>-->
  <!--<div>-->
    <!--<p>Nombre: {{nombre}}</p>-->
    <!--<p>Apellido: {{apellido}}</p>-->
    <!--<p>Edad: {{edad}}</p>-->
    <!--<p>Sueldo: {{sueldo | currency}}</p>-->
    <!--<p>Fecha de Nacimiento: {{fechaNacimiento | date: 'yyyy/MM/dd'}}</p>-->

    <!--<button (click)="cambiarClaseDeTitulo()"-->
            <!--(blur)="cambiarClaseDeTitulo()" )  >{{nombreBoton}}</button>-->

  <!--</div>-->

  <!--<button (click)="aplicarClase(textoInput.value)">-->
    <!--{{cambiarBoton}}-->

  <!--</button>-->

<!--</div>-->
