<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Sistema Operativo " disabled value="Cabecera">
  </mat-form-field>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input matInput  [(ngModel)]="nombre" name="nombre" placeholder="Nombre"  >

    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="version_lanzamiento" name="version" placeholder="Versión API" >
    </mat-form-field></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="fecha" name="fecha" placeholder="Fecha de Lanzamiento" >
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="peso" name="peso" placeholder="Peso (GB)" >
    </mat-form-field></td>
    <td>
      <mat-checkbox [(ngModel)]="instalado" name="instalado">Instalado</mat-checkbox>
    </td>

  </tr></table>

</form>

<div class="so-boton-limpiar">
  <button mat-button color ="primary" (click)="limpiar()">Limpiar</button>
</div>

<div class="">
  <button mat-button color="accent" (click)="crear()" >Crear</button>

</div>
