<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Sistema Operativo " disabled value="Cabecera">
  </mat-form-field>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="nombreSO" name="nombre" placeholder="Nombre"  >

    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput type="number" [(ngModel)]="versionApiSO" name="version" placeholder="Versión API" >
    </mat-form-field></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input matInput type="date" [(ngModel)]="fechaLanzamientoSO" name="fecha" placeholder="Fecha de Lanzamiento" >
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput type="number" [(ngModel)]="pesoGigasSO" name="peso" placeholder="Peso (GB)" >
    </mat-form-field></td>
    <td>
      <mat-checkbox [(ngModel)]="instalado" name="instalado">Instalado</mat-checkbox>
    </td>

  </tr></table>

  <button mat-raised-button color ="primary" type="reset">Limpiar</button>
  <button mat-raised-button color="accent" (click)="crear()" >Crear</button>
</form>



