<div class="">
  <h3>Detalle</h3>
</div>
<div class="ui-g ui-fluid">

  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
     <span class="ui-float-label">
       <input id="peso-input" type="text" size="30" pInputText [(ngModel)]="peso">
       <label for="peso-input">Peso (GB)</label>
     </span>
    </div>
  </div>

  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
     <span class="ui-float-label">
       <input id="version-input" type="text" size="30" pInputText>
       <label for="version-input">Versión</label>
     </span>
    </div>
  </div>

  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
     <span class="ui-float-label">
       <input id="nombre-input" type="text" size="30" pInputText>
       <label for="nombre-input">Nombre</label>
     </span>
    </div>
  </div>

  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
     <span class="ui-float-label">
       <input id="url-input" type="text" size="30" pInputText>
       <label for="url-input">Url Descarga</label>
     </span>
    </div>
  </div>

  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
     <span class="ui-float-label">
       <input id="fecha-input" type="text" size="30" pInputText>
       <label for="fecha-input">Fecha de Lanzamiento</label>
     </span>
    </div>
  </div>

  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
     <span class="ui-float-label">
       <input id="costo-input" type="text" size="30" pInputText>
       <label for="costo-input">Costo</label>
     </span>
    </div>
  </div>

  <div class="ui-g-12 ui-md-4">
    <button pButton type="button" label="Limpiar" class="ui-button-warning"></button>
  </div>

  <div class="ui-g-12 ui-md-4">
    <button pButton type="button" label="Crear" class="ui-button-success" (click)="crearDetalle()"></button>
  </div>


</div>

