.sa-fondo-pelicula-banner {
  /*background-color: #000;*/
  border-style: solid;
  border-color: #000;
  border-width: 10px;
  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/
  /*background-size: cover;*/
  /*max-width: 100%;*/
  /*height: auto;*/

  /*width: 100%;*/
  /*height: 400px;*/
  /*background-repeat: no-repeat;*/
  /*background-size: contain;*/
  /*border: 1px solid red;*/

  width: 100%;
  height: 400px;
  background-size: 100% 100%;
  /*border: 1px solid red;*/
}

.sa-color-letras-pelicula-banner {
  color: #fff
}

.sa-fondo-estado {
  max-width: 120px;
  text-align: center;
}

.sa-color-estado-amarillo {
  background-color: #fabb00;
}

.sa-color-estado-rosado {
  background-color: #e3003e;
}

.sa-espaciado {
  height: 250px;
}
